torch 
einops
numpy 
pytest
omegaconf
tiktoken
tqdm
datasets
wandb
transformers
rich
tokenizers
pytest
pytest-utils
requests
pandas
trl
git+https://github.com/huggingface/peft
huggingface_hub
bitsandbytes
ai2-olmo
torchvision
evaluate
bert_score